@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Fugaz+One&family=Kaushan+Script&family=Shrikhand&family=Ubuntu:wght@400;500;700&display=swap');
/*
body{
color : #0C2D48;
#2E8BC0
#B1D4E0
#145DA0
}

*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Shrikhand', cursive;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Fugaz One', cursive; */
}

body {
    background-image: linear-gradient(to right, #ffffff, #dad8d5, #fffffc);
}


/* *****************************  SIGNUP PAGE ****************************** */

.signup h3 {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.signup {
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 100;
    background-color: white;
    margin-top: 2rem;
    padding: 2rem 0;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
}

.signup form,
.inputDetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.inputDetails input,
.inputDetails button {
    width: 80%;
    height: 4rem;
    margin: 1rem;
    font-size: 1.6rem;
}

.inputDetails input {
    border: 1px solid grey;
    padding-left: 1rem;
}

.inputDetails input:focus {
    outline: 1px solid rgb(104, 104, 104);
}

.inputDetails button {
    border: 1px solid grey;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    transition: all 0.2s ease;
    font-weight: 600;
    background-color: #1b5cbf;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.inputDetails button:hover {
    background-color: #073a85;
}

.inputDetails button:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.switch {
    font-size: 1.6rem;
    font-weight: 500;
}

.allposts_wrapper {
    width: 100%;
    /* margin: 1rem auto; */
    padding: 1rem;
}

.messages {
    width: 40%;
}

.toggle_friends {
    margin: 1.6rem;
}

.toggle_friends span {
    margin: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: #0038ef;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Fugaz One', cursive;

}

.toggle_friends .active_toggle {
    border-bottom: 2px solid #0038ef;
}

#show2 {
    display: none;
}

#hide1,#hide2 {
    border: 2px solid rgb(255, 255, 255);
    margin-top: 1rem;
    }

@media screen and (max-width: 1167px) {
    * {
        font-size: 10px;
    }
}
@media screen and (max-width: 967px) {

    #hide1,
    #hide2 {
        display: none;
    }

    #root .project {
        display: flex;
        justify-content: center;
    }

    .allposts_wrapper {
        width: 75%;
    }

    #show1,
    #show2 {
        width: 80%;
    }

    .friends_page_wrapper {
        display: grid;
        place-items: center;
    }

    #show1 h3,
    #show2 h3 {
        font-weight: 500;
    }

    .signup {
        width: 80%;
    }
}

@media screen and (max-width: 627px) {

    .allposts_wrapper {
        width: 90%;
    }

    #show1,
    #show2 {
        width: 90%;
        padding: 0.4rem;
    }

    .signup {
        width: 98%;
        padding: 0.5rem;
    }

    .inputDetails input,
    .inputDetails button {
        width: 92%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 527px) {

    .allposts_wrapper {
        width: 100%;
    }

    #show1,
    #show2 {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {

    .toggle_friends span {
        font-size: 1.2rem;
    }

    .toggle_friends {
        margin: 1rem 0rem;
    }
}